/examples/aliases
/examples/cronta$
/examples/procmalrc$
/images/
/images.csv
/lib/OAuthConf.pm
/live.atom
/live.kml
/live.rss
/lock
/mobile.kml
/location.csv
/overlay.kml
/settings.pl
/settings.xml
/tags
/timestamp
/tmp/
/uploads/
