use 5.008;
use warnings;
use strict;

use utf8;


$settings->{apiKey} = "@@APIKEY@@";

$settings->{cwd} = "@@CWD@@";

$settings->{dataSource} = "DBI:Pg:dbname=photocatalog;host=localhost";
$settings->{dbUser} = "user";
$settings->{dbPass} = "S3cr3t!";

$settings->{website} = "@@WEBSITE@@";

1;
