use 5.008;
use warnings;
use strict;

use utf8;


# Directory where photocatalog is installed.
$settings->{cwd} = "@@CWD@@";

# Backend for data storage.  Only working type is 'file'.
$settings->{backend} = "file";

# Settings for database backend.
$settings->{dataSource} = "DBI:Pg:dbname=photocatalog;host=localhost";
$settings->{dbUser} = "user";
$settings->{dbPass} = "S3cr3t!";

# Location where photocatalog is hosted.
$settings->{website} = "@@WEBSITE@@";

$settings->{sources} = [
	{
		id => 1,
		type => 'WWW',
		name => 'Android',
		kml => {
			position => 'loc',
			line => 'path',
			location => 'place',
		},
	},
	{
		id => 2,
		type => 'InstaMapper',
		name => 'InstaMapper',
		deviceKey => '@@DEVICEKEY',
		apiKey => '@@APIKEY@@',
		kml => {
			position => 'loc',
			line => 'path',
			location => 'place',
		},
	},
	{
		id => 3,
		type => 'RSS',
		name => 'Twitter',
		deviceKey => 10,
		file => '@@RSSFEED@@',
		kml => {
			container => 'twitter',
		},
	},
];

1;
