PATH=@@CWD@@:/usr/local/bin:/usr/bin:/bin
PERL5LIB=@@CWD@@

# These next two lines keep location data updated every 5 minutes, but
# only adds a placemark every 15 minutes (-n disables the placemark).
0,15,30,45 6-22 * * * updatelocation.pl
5,10,20,25,35,40,50,55 6-22 * * * updatelocation.pl -n

# These two lines update location data, but only add one point to the
# path, instead of all points collected from InstaMapper.
*/10 0-5,23 * * * updatelocation.pl -s

# This creates mobile.kml from live.kml which is better designed for
# Google Maps on cellphones.
*/10 * * * * mobile.pl

# This pulls in Twitter (or any other RSS feed) and adds it to live.kml
*/10 * * * * rss.pl http://twitter.com/statuses/user_timeline/783214.rss

# This scans the uploads folder for JPEG images and adds them to live.kml.
*/15 * * * * cd @@CWD@@ && scan.pl uploads/*.[jJ][pP][gG]

# This is an ugly hack which creates overlay.kml from live.kml by
# removing the trailing tags and appending data to the end of it.
#*/5 * * * * cd @@CWD@@ && (mobile.pl; cat live.kml | sed -e '/^<\/Document>$/d' -e '/^<\/kml>$/d' | cat - overlay-data > overlay.kml)
